/* Общие стили для мобильных устройств */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0% 6% 0% 6%;
    background-image: url(sh-bg.webp);
    background-size: 102%;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-position: center;
    text-shadow: 2px 2px 7px #000000;
}
.s-img{
width:40%;
float: right;
margin-left: 70%;
margin-bottom: 10px;
}

.subtitle1{
    color:#ffffff;
    text-align: right;
    font-weight: 500;
    font-size: 5vw;
}

.subtitle2{
    color:#ffffff;
    text-align: right;
    font-family: "COMIC SANS MS";
    font-size: 1.4em;
    font-weight: 200;
    padding-bottom: 20px;
}

.container {
    padding: 20px;
}

.h1_boom {
    color: #BE0202;
}

.instructions-text01{
    font-size: 5vw;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-bottom: -10px;
    font-weight: 500;
}
.convert{
    font-size: 1.2em; /* Размер шрифта */
    font-weight: bold;
    color: #ad3b3b;
}

.help_text {
    color: #BE0202;
    font-weight: 700;
}

/* Заголовки */
.title {
    font-size: 5vw;
    color: #ffffff;
    text-align: left;
    font-family: 'Roboto Serif', serif;
}

.subtitle {
    font-size: 1.2em;
    color: #ad3b3b;
    text-align: center;
    margin-bottom: 20px;
}

/* Инструкции */
.instructions-text1 {
    font-size: 1.1em;
    color: #ffffff;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: center;
    font-weight: 300;
}


.instructions-text2 {
    font-size: 1.1em;
    color: #ffffff;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: center;
    margin-top:-10px;
    padding-bottom: 30px;
    font-weight: 300;
}

/* Вопросы */
.questions-text {
    font-size: 3.5vw;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
}

/* Коричневый блок вопроса */
.question {
    border-radius: 8px;
    margin-bottom: 20px;
    color: #000000;
}
.question-title{
    background-color: #ffffff;
    padding: 15px 3vw 15px 3vw;
    text-align: center;
    font-size: 4vw;
    font-family: 'Roboto Serif', serif;
    line-height: 1.5em;
    text-shadow: 0px 0px 0px #00000000;
}
/* Варианты ответов */
.answers {
    padding: 15px 5vw 15px 5vw;
}

.help-answer .answer-label{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}


.answer-container {
    display: flex;
    align-items: center; /* Выравнивание чекбокса и текста по вертикали */
    gap: 10px; /* Расстояние между чекбоксом и текстом вопроса */
    margin-bottom: 15px;
    flex-wrap: wrap; 
}



/* Лейблы для ответов */
.answer-label {
    flex: 1; /* Занимает оставшуюся ширину */
    padding: 10px 10px 10px 0px;
    border: 2px solid transparent;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.answer-label:hover {
    
}

/* Ответ с прозрачным фоном и красной границей */
.answer-result {
    display: none;
    margin-top: 5px;
    padding: 10px;
    background-color: rgb(0 0 0 / 33%);
    /* border: 2px solid red; */
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 1.6em;
    line-height: 1.5em;
    font-family: 'Roboto Serif', serif;
    font-weight: 100;
    flex-basis: 100%;
}

/* Скрываем стандартный чекбокс */
.answer-input {
    appearance: none; /* Отключает стандартный вид чекбокса */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
    width: 20px;
    height: 20px;
    border: 5px solid #DEA215;
    border-radius: 50%;
    background-color: #DEA215;
    cursor: pointer;
    position: relative;
}

.help-answer .answer-input {
   border: 5px solid #BE0202;
    background-color: #BE0202;
}

/* Точка внутри чекбокса при выборе */
.help-answer .answer-input:checked {
    background-color: #000000; /* Заполнение жёлтым цветом */
    border-color: #BE0202; /* Граница совпадает с цветом фона */
}

/* Точка внутри чекбокса при выборе */
.answer-input:checked {
    background-color: #000000; /* Заполнение жёлтым цветом */
    border-color: #DEA215; /* Граница совпадает с цветом фона */
}



/* Правильные ответы (зелёная граница и текст) */
.correct-answer .answer-result {
    /* border: 2px solid green; */
    color: #f9bb2a;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

/* Отображаем ответ, если чекбокс выбран */
.answer-input:checked + .answer-label + .answer-result {
    display: block;
    font-size: 1em;
}

/* Для правильных чекбоксов (зелёный цвет при выборе)
.correct-answer .answer-input {
    accent-color: green; 
} */

/* Подвал */
.footer {
    margin-top: 30px;
    text-align: left;
    font-size: 1em;
    color: #4a2c2a;
    line-height: 1.5;
}

.footer p {
    /* margin-top: 30px; */
    text-align: left;
    color: #ffffff;
    line-height: 1.5;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
}
